@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fira+Sans:ital,wght@0,300;0,500;0,900;1,300;1,500&family=Noto+Serif+Tamil:wght@300;400;900&family=Tangerine:wght@700&display=swap');

/* 
font-family: 'Black Ops One', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Serif Tamil', serif;
font-family: 'Tangerine', cursive;
*/

:root {
    /* Color Variables */
    --primary-color-black: #272829;
    --primary-color-grey: #61677A;
    --accent-color-light-grey: #D8D9DA;
    --accent-color-beige: #FFF6E0;
    --text-color: hsl(0, 0%, 20%);

    /* Size Variables */ 
    --top-nav-height: 3rem;
    --main-nav-height: 6rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

body {
    font-size: 15px;
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
    height: 300vh;
}

/* Sticky position main header used to make it so the top-nav is hidden */

.main-header {
    position: sticky;
    top: calc(-1 * var(--top-nav-height));
}

/* CSS for Top Nav */

.top-nav {
    background-color: var(--accent-color-light-grey);
    height: var(--top-nav-height);
    padding-right: 1.5rem;
}

.top-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.top-nav li {
    display: flex;
    align-items: center;
}

.top-nav * {
    height: 100%;
}

.main-header a,
.main-header ul {
    text-decoration: none;
    list-style: none;
}

.top-nav a {
    height: 75%;
}

.top-nav li:first-child a{
    height: auto;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    font-weight: bold;
}

.icon-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.icon-wrapper.envelope:hover .plain-envelope {
    /* content: url("./imgs/envelope-icon-hover.svg"); */
    display: none;
}

.icon-wrapper.envelope .heart-envelope{
    display: none;
}

.icon-wrapper.envelope:hover .heart-envelope {
    display: flex;
}

.icon-wrapper.telephone:hover .plain-phone {
    /* content: url("./imgs/telepone-icon-hover.svg"); */
    display: none;
}

.icon-wrapper.telephone .bold-phone {
    display: none;
}

.icon-wrapper.telephone:hover .bold-phone {
    display: flex;
}

.icon-wrapper.linkedIn:hover {
    color: black;
}

.top-nav li:first-child a:hover {
    color: black;
}

/* CSS for Main Navigation */

.main-nav {
    height: var(--main-nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-black);
    padding: 0 1.5rem;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* CSS for the logo inside main and mobile navigation*/

.logo-container {
    /* background-color: white; */
    border-radius: 100vw;
    border: 4px solid white;
    box-shadow: inset 0 0 0px 3px hsl(0, 0%, 80%);
    outline: 2px solid hsla(210, 3%, 30%, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-logo-text {
    color: white;
    position: relative;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.logo-bold-text {
    font-family: 'Black Ops One', cursive;
    font-size: 3.25rem;
    position: black;
}

a.logo-home-link {
    text-decoration: none;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 100vw;
}

.logo-cursive-text {
    color: hsl(226, 11%, 60%);
    position: absolute;
    font-size: 1.5rem;
    font-family: 'Tangerine', cursive;
    bottom: 0;
    right: 0;
    translate: -10% -10%;
}

/* logo css ending */

.main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.main-nav a {
    color: var(--accent-color-light-grey);
}

.main-nav a:hover {
    color: hsl(210, 3%, 60%);
}

/* CSS for Mobile Navigation */

.mobile-nav {
    height: var(--main-nav-height);
    background-color: var(--primary-color-black);
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    display: none;
}

/* CTA contact button by mobile nav */

.mobile-phone-icon .icon-wrapper {
    width: calc(var(--main-nav-height) * 0.6);
}

.mobile-phone-icon .icon-wrapper .plain-phone,
.mobile-phone-icon .icon-wrapper .bold-phone {
    fill: hsla(185, 53%, 40%, 0.75);
}

/* end */

.mobile-dropdown-btn {
    width: calc(var(--main-nav-height) * 0.8);
    background: transparent;
    border: none;
}

.mobile-nav-right {
    display: flex;
    gap: 2rem;
}

.mobile-dropdown-btn:hover > .mobile-nav-container {
    translate: 0 0;
}

.mobile-nav-icon-wrapper {
    overflow: hidden;
    cursor: pointer;
    color: var(--accent-color-light-grey);
    width: calc(var(--main-nav-height) * 0.8);
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav-icon-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: hsla(210, 3%, 50%);
}

.mobile-nav-container {
    position: fixed;
    height: 100vh;
    width: 50vw;
    background-color: var(--accent-color-beige);
    top: 0;
    right: 0;
    translate: 100% 0;
    transition: translate 300ms ease-in-out;
}

.mobile-nav-container ul:first-child::before {
    content: "";
    background-color: hsla(210, 3%, 85%, 0.8);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    translate: 0 4rem;
}

.mobile-nav-container ul:first-child {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    gap: 1.5rem;
    height: var(--top-nav-height);
    position: relative;
}

.mobile-nav-container ul:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav-container ul:last-child li,
.mobile-nav-container ul:last-child a {
    width: 100%;
    display: block;
    font-size: 2rem;
    text-align: center;
}

.mobile-nav-container ul:last-child a {
    height: 100%;
    padding: 1rem;
    border-bottom: 2px solid hsla(210, 3%, 85%, 0.5);
}

.mobile-nav-container ul:last-child a:hover {
    background-color: hsla(43, 80%, 90%);
}

/* CSS for visual accessibility */

.top-nav a:focus {
    outline: 3px solid var(--primary-color-grey);
    outline-offset: 2px;
    border-radius: 100vw;
    overflow: hidden;
}

.main-nav a:first-child:focus {
    outline-offset: 3px;
}

.main-nav a:focus {
    outline: 3px solid var(--accent-color-light-grey);
    border-radius: 100vw;
    overflow: hidden;
}

.main-nav a:first-child:focus {
    outline-offset: 3px;
    box-shadow: none;
}

.main-nav a:first-child:focus .logo-bold-text {
    color: var(--primary-color-grey);
}

.main-nav a:first-child:focus .logo-cursive-text {
    color: var(--accent-color-light-grey);
}
/* Media Queries */

@media (max-width: 768px) {
    .top-nav {
        display: none;
    }

    .main-header {
        top: 0;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-nav-icon-wrapper:hover { 
        background-color: transparent;
        background: none;
    }
}

@media (max-width: 500px) {
    .mobile-nav-container {
        width: 70vw;
    }
}